<div class="m-5"></div>
<footer class="bg-dark text-white">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-3">
        <h5>LifeTracker</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat lorem nisl, vel tincidunt velit volutpat et.</p>
      </div>
      <div class="col-md-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Appointments</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Newsletter</h5>
        <p>Subscribe to our newsletter to receive updates and exclusive offers.</p>
        <form>
          <div class="input-group">
            <input type="email" class="form-control" placeholder="Enter your email">
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit">Subscribe</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3">
        <h5>Contact Us</h5>
        <p>123 Example Street<br>City, State ZIP<br>Phone: (123) 456-7890<br>Email: info@example.com</p>
      </div>
    </div>
  </div>
  <div class="bg-dark text-muted py-3">
    <div class="container text-center">
      <p class="mb-0">© 2023 The Appointment Tracker. All rights reserved.</p>
    </div>
  </div>
</footer>
